<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        CodeMirror2
    </title>
    <script src="{{url_for('static', filename='codemirror/lib/codemirror.js')}}"></script>
    <link href="{{url_for('static', filename='codemirror/lib/codemirror.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='codemirror/mode/xml/xml.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/onclick.js')}}"></script>
</head>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>

<body>
    <div class="content">
        Login: <input type="text" name="login" value="" id="login"><br>
        Password: <input type="text" name="password" value="" id="pass"><br>
        <button type="submit" onclick="login()">OK!</button>
        <button type="submit" onclick="goToRegistration()">Sign Up</button>
    </div>
</body>

</html>