<style>
  .content {
    max-width: 500px;
    margin: auto;
  }
</style>
<div class="content">
  {{id}}
  <button type="submit" onclick="getSessions()">Sessions</button>
  <textarea id="editor"></textarea>
  <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</div>