<style>
  .content {
    max-width: 500px;
    margin: auto;
  }
</style>
<div class="content">
  Login: <input type="text" name="login" value="" id="login"><br>
  Password: <input type="text" name="password" value="" id="pass"><br>
  <button type="submit" onclick="login()">OK!</button>
  <button type="submit" onclick="goToRegistration()">Sign Up</button>
</div>